body {
   font-family: 'Open Sans', sans-serif;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #282828;
    overflow-x: hidden;
    padding-top: 20px;
}

h2, form{
    padding-left: 10px;
    padding-top: 20px;
}

.sidenav a {
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #888;
    display: block;
}

.sidenav a:hover {
    color: white;
   
}

.sidenav a.active{
     background-color:  #999999;
    color: white;
}

.sidenav a:hover:not(.active) {
     color: white;

}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

#parsed_csv_list{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

#parsed_csv_list td, #parsed_csv_list th {
    border: 1px solid #ddd;
    padding: 8px;
}

#parsed_csv_list tr:nth-child(even){
    background-color: #f2f2f2;
}

#parsed_csv_list tr:hover {background-color: #ddd;}

#parsed_csv_list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




